## Global
pyOpenSSL
cryptography
pillow
ldap3
pyler
psycopg2
pyparsing

## Connections
mysql-connector-python
mysqlclient
scapy
paramiko

## SQL Client
sqlalchemy
pymysql
pyodbc

## Web Server
flask
flask_wtf
flask_login
flask_htmlmin

## Web Client
netbox_python
zabbix_utils

## Web Bot
selenium
pytesseract
requests
pytube