## Web Framwork
flask
flask_login
Flask-HTMLmin

## SQL Client
sqlalchemy
mysql-connector-python
mysqlclient
pymysql
pyodbc

## Global
pyOpenSSL
cryptography
pillow
ldap3
pyler
paramiko
psycopg2

## Web Automation
selenium
pytesseract
requests
pytube