## Global
pyOpenSSL
cryptography
pillow
ldap3
pyler
psycopg2
pyparsing

## Connections
mysql-connector-python
mysqlclient
scapy
paramiko

## SQL Client
sqlalchemy
pymysql
pyodbc

## Web Automation
selenium
pytesseract
requests
pytube

## Web Server
flask
Flask-HTMLmin
flask_login