<button id="openModalButton" data-bs-toggle="modal" data-bs-target="#LoginModal" type="button" class="btn btn-outline-primary me-2">ورود</button>
<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="flase">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{{url_for('auth.login')}}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModalLabel">ورود به حساب کاربری</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input name="username" type="text" class="form-control" id="username" placeholder="name@example.com" required dir="ltr">
            <label for="username">نام کاربری</label>
          </div>
          <div class="form-floating mb-3">
            <input name="password" type="password" class="form-control" id="password" placeholder="Password" required dir="ltr">
            <label for="password">رمز ورود</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">ورود</button>
        </div>
      </form>
    </div>
  </div>
</div>