<footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
  <section class="d-flex justify-content-between p-4 text-white" style="background-color: #4c88e9">
    <div class="me-5"><span>مارا در این پلتفرم ها دنبال کنید :</span></div>
    <div>
      <a href="https://www.instagram.com/radinsystem/" class="text-white me-4 text-decoration-none"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="text-white me-4 text-decoration-none"><i class="fab fa-twitter"></i></a>
      <a href="#" class="text-white me-4 text-decoration-none"><i class="fab fa-google"></i></a>
      <a href="#" class="text-white me-4 text-decoration-none"><i class="fab fa-instagram"></i></a>
      <a href="#" class="text-white me-4 text-decoration-none"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/radin-system" class="text-white me-4 text-decoration-none"><i class="fab fa-github"></i></a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">رادین سیستم</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; background-color: #1f23ff; height: 2px"/>
          <p>اراعه دهنده خدمات کامپیوتری در تهران</p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">منابع طراحی سایت</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; background-color: #1f23ff; height: 2px"/>
          <p><a href="https://OpenAI.io/" class="text-dark">OpenAI</a></p>
          <p><a href="https://getbootstrap.com/" class="text-dark">MDBootstrap</a></p>
          <p><a href="https://w3schools.com/" class="text-dark">W3School</a></p>
          <p><a href="https://python.org/" class="text-dark">Python3</a></p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">میانبر ها</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; background-color: #1f23ff; height: 2px"/>
          <p><a href="https://rsto.ir/%d8%af%d8%b1%d8%a8%d8%a7%d8%b1%d9%87-%d9%85%d8%a7/" class="text-dark text-decoration-none">درباره ما</a></p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">تماس با ما</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px"/>
            <p><i class="fas fa-home mr-3"></i>تهران – کیلومتر۱۹ بزرگراه فتح – بلوار تولیدگران – پلاک ۱۶۹ – ساختمان اداری یاس – واحد 6</p>
            <p><i class="fas fa-envelope mr-3"></i> Support@rsto.ir </p>
            <p><i class="fas fa-phone mr-3"></i> 021-45885000 </p>
            <p><i class="fas fa-mobile-alt mr-3"></i> 0905-468-4980 </p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-3" style="background-color: #ECEFF1">
    COPYRIGHT : <a class="text-dark" href="https://rsto.ir/"> RSTO.IR </a>
  </div>
</footer>