{% extends 'base/base.html' %}

{% block Sidebar %}<!-- Removed Sidebar -->{% endblock %}
{% block Header %}<!-- Removed Header -->{% endblock %}
{% block Footer %}<!-- Removed Footer -->{% endblock %}

{% block Content %}
<div class="container" style="min-height: 1000px;">
    <div class="row justify-content-center" dir="ltr">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header bg-danger text-white">
                    <h3>{{ Error_Detail.name }} {{ Error_Detail.code }}</h3>
                </div>
                <div class="card-body">
                    <p class="text-muted">{{ Error_Detail.description }}</p>
                </div>
                <div class="card-footer">
                    <!-- Go Back Button -->
                    <button onclick="window.history.back()" class="btn btn-primary"><i class="bi bi-arrow-left-circle"></i> بازگشت</button>
                    <!-- Show Details Button And Modal -->
                    {% with Error_Detail=Error_Detail %}{% include 'base/modal/errordetail.html' %}{% endwith %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}